.hero-container {
    background: linear-gradient(135deg, #b2c674, #5f8523, #274a04);
    padding: 11rem;
    color: #fcfcfc;
    text-align: center;
  }
  
  .hero-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero-container p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing-effect {
    font-size: 2.5rem;
    white-space: nowrap; 
    overflow: hidden;
    border-right: 3px solid #008000;
    animation: typing 1s steps(30, end), blink 0.30s step-end infinite;
}
@keyframes typing {
    from {
        width: 0; 
    }
    to {
        width: 40%; 
    }
}

@keyframes blink {
    from {
        border-color: #274a04; 
    }
    to {
        border-color: #008000; 
    }
}

.button-container {
  margin-top: 20px;
}

.create-farm-btn {
  background-color: #8bc34a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.learn-more-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}